[submodule "vendor/boost-boost-1.90.0"]
	path = vendor/boost-boost-1.90.0
	url = https://github.com/boostorg/boost
[submodule "vendor/jsoncpp"]
	path = vendor/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "vendor/tclap"]
	path = vendor/tclap
	url = git@github.com:mirror/tclap.git
[submodule "vendor/rat-common"]
	path = vendor/rat-common
	url = https://gitlab.com/Project-Rat/rat-common.git
[submodule "vendor/rat-mlfmm"]
	path = vendor/rat-mlfmm
	url = https://gitlab.com/Project-Rat/rat-mlfmm.git
